$colors: (
    primary: #23395B,
    secondary: #F46036,
    light: #9c27b0,
    warning: #FBD1A2
)

// $colors: (
//     primary: #23395B,
//     secondary: #F46036,
//     light: #00B2CA,
//     warning: #FBD1A2
// )
